# Ignore environment variables
.env

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore node modules (if you use npm/yarn)
node_modules/

# Ignore VS Code settings
.vscode/

# Ignore OS files
.DS_Store
Thumbs.db

mock_data.csv